<!DOCTYPE html>
<html ng-app="londy">
  <head>
    <title>Londy app</title>

    <%- css('andy') %>
    <%- css('content-assist') %>
    <%- css('application') %>

  </head>
  <body>
    <%-body -%>

    <%- js('https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js') %>
    <%- js('https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js') %>

    <%- js('app') %>
    <%- js('controllers') %>
    <%- js('directives') %>
    <%- js('filters') %>
    <%- js('services') %>

  </body>
</html>